<ion-view class="categories"> 
<ion-header-bar class="bar bar-header  bar-dark" align-title="center">
      <button class="button button-clear">Home</button>
      <h1 class="title">Featured</h1>
      <button class="button button-clear">Selected</button>
</ion-header-bar>
<div class="bar bar-subheader">
  <h2 class="title">Featured Assets</h2>
</div>    
<ion-content class="has-header has-subheader">
     <div class="row">
        <div class="col">
            <div class="list">

                  <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-pin"></i>
                    Category Name
                    <i class="icon ion-chevron-right"></i>  
                    
                  </a>
                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-pin"></i>
                    Category Name
                    <i class="icon ion-chevron-right"></i>
                  </a>
                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-pin"></i>
                    Category Name
                    <i class="icon ion-chevron-right"></i>
                  </a>
                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-pin"></i>
                    Category Name
                    <i class="icon ion-chevron-right"></i>
                  </a>
                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-pin"></i>
                    Category Name
                    <i class="icon ion-chevron-right"></i>
                  </a>
                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-pin"></i>
                    Category Name
                    <i class="icon ion-chevron-right"></i>
                  </a>
                
            </div>    
        </div>
     </div>
</ion-content>
<ion-footer-bar class="bar bar-footer  bar-dark">
  <button class="button button-icon icon ion-arrow-left-c"></button>        
      
</ion-footer-bar>     

</ion-view>    
